 body{font-family: lato,raleway,tahoma !important;}
    .text-white{color: #fff !important;}
   li > a:hover, .orange{color: #FFAB00 !important;}
    .bgOrange{background:linear-gradient(to right,#FFAB00,orange,white) !important;}
    hr{color:#FFAB00;}
    footer .footer-bottom{line-height: 26px !important;}